/node_modules
/public/hot
/public/storage
/public/mix-manifest.json
/public/images
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
table.md
/sql
/public/css
/public/js
/.vscode
.prettierignore
